
body{
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Press Start 2P', cursive;
}

header{
    background-color: rgb(60, 108, 180);
    padding: 20px;
}



.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
            
}

nav img{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.direction{
    flex-direction: column;
}

.justify{
    justify-content: center;
}



a{
    text-decoration: none;
    color: rgb(60, 108, 180);
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    border: 1px white solid;
    padding: 20px
}

a:hover{
    color: rgb(255,203,5);
    border: 2px rgb(255,203,5) solid;
    font-size: 15px;
}


section{
    background-image: url(section.jpg);
    background-size: cover;
    width: 100%;
    height: 90vh;
    padding-top: 50px;
 
}

.data{

    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -10px 0px 13px -7px rgb(60, 108, 180), 10px 0px 13px -7px rgb(60, 108, 180), 5px 5px 15px 5px rgb(60, 108, 180);
    margin: 0 auto;
    padding-top: 30px;
    text-align: left;
    width: 50%;
    padding: 50px;
    line-height: 2rem;
    margin-bottom: 40px;
}




footer{
    
    background:linear-gradient(0deg, rgba(252,211,12,1) 0%, rgba(255,186,2,1) 61%);
    margin: 0;
    height: 20%;

}

footer div{
    width: 50%;
}

footer img{
    width: 20%;
    padding: 20px;
    padding-left: 700px;

}

footer p{
    padding-top: 80px;
}



button {

    background-color: rgba(252,211,12,1);
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
 
}

button:hover{
    cursor: pointer;
    background-color: rgb(127,172,113);
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
    border: 2px white solid;
    color: rgb(127,172,113);
    
}

@media screen  and (max-width: 1500px){

    ul{
        flex-direction: column;
       
    }
    
  
    ul li{
        margin-bottom: 50px;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 300px;
    }

    footer img{
        width: 60%;
        padding: 20px;
}

footer p{
    padding-top: 10px;
    text-align: center;
}

}